
/*---------------------------- 
	Body width and centering
	Base font and font size
----------------------------*/

body {
	width: 570px;
	margin: 40px auto;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	background-color: #fff;
}

#main {
	background-color: #ddd;
	padding: 20px 30px;
}

/*---------------------------- 
	Input form
----------------------------*/

.error {
	display: none;
	color: red;
	font-size: 12px;
	font-style: italic;
	line-height: 13pt;
}

form div {
	float: left;
	margin-right: 10px;
	width: auto;
}

form input {
	font-size: 22px;
	padding: 5px;
	border: none;
}

#amount-div {
	width: 140px
}

#amount-div input, #scale-div input {
	width: 70px;
}

#unit-div {
	width: 220px
}

#unit-div input {
	width: 180px;
}

#unit-div #x {
	font-size: 30px;
	margin-left: 7px;
}

#scale-div {
	width: 110px;
}

.clear {
	clear:both;
}

/*---------------------------- 
	Results
----------------------------*/

#results {
	display: none;
}

h2 {
	font-size: 22px;
	margin-bottom: 10px;
}

#results div {
	background-color: white;
	padding: 10px 10px 0;
	margin-bottom: 15px;
}

#results p {
	margin: 0;
	padding-bottom: 10px;
}
