
body {
	width:860px;
	margin:auto;
	font-family: Arial, sans-serif;
	font-size: 18px;
	background-color:#ffffff;
}

#header {
	padding: 40px 40px 0;
}

h1, ul#mainnav, h2 {
	font-family: Lato, sans-serif;
	font-weight:900;
}

h1 {
	font-size: 72px;
	margin: 0 0 30px 0;
}

h1 img {
	margin-right: 13px;
}

a {
	text-decoration:none;
	color:#916f6f;
}

a:hover {
	color: red;
}

ul#mainnav {
	width:100%;
	height:46px;
	padding:0 0 9px 0;
	margin:0;
	list-style-type:none;
	position:relative;
}

ul#mainnav > li > a {
	float:left;
	width:33%;
	font-size: 36px;
}

li.current > a {
	color:black;
}

ul#mainnav li {
	display:inline;
}

li#navitem2 {
	text-align:center;
}

li#navitem3 {
	text-align:right;
}

ul.subnav {
	display:none;
	text-align:left;
	font-weight:600;
}

ul.subnav li.current {
	font-weight:900;
	color:black;
}

ul#mainnav li.current ul {
	display: block;
	margin:0;
	padding: 10px;
	position:absolute;
	top:46px;
	border-top: 9px red solid;
	background-color: #fefefc;
}

/* Chirps subnav */
ul#mainnav li#navitem1 ul{
	width: 290px;
}

/* Chirpers subnav */
ul#mainnav li#navitem2 ul{
	left: 104px;
	width: 539px;
}

/* Chirp! subnav */
ul#mainnav li#navitem3 ul{ 
	left: 457px;
	width: 313px;
	padding: 0; /* No subnav for Chirp!, so this ul is just for the red top border */
}

ul#mainnav li.current li {
	display: inline;
	margin-right: 15px;
}

ul#mainnav ul.subnav  a {
	margin-right: 15px;
}

ul#utilitynav {
	float:right;
	padding:0;
	margin: -90px 0 0 0;
	list-style-type:none;
	font-size: 18px;
}

ul#utilitynav li {
	display:inline;
	margin:0;
}
	


#main {
	background-color:#f1f2e1;
	padding: 0 40px 40px;
	clear:both;
}

h2 {
	clear:both;
	font-size: 40px;
	padding-top: 60px;
	margin-top: 0px;
}

#footer {
	padding: 20px 40px 20px;
}

/*-------------------- 
	Button links 
--------------------*/

p.button-link {
 	float:left;
	margin: 0 15px 30px 0;
}

p.button-link a {
	padding: 5px 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	background-color: #916f6f;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

p.button-link a:hover {
	background-color: #ccb0a6;
}
/*---------------------------
	Chirp stream styles 
---------------------------*/

ul#chirplist {
	list-style-type:none;
	margin: 20px 0 0;
	padding: 0;
	clear: both;
}

ul#chirplist ul {
	list-style-type: none;
	background-color: #fefefc;
	margin: 30px 0;
	padding: 10px;
}

ul#chirplist li.avatar {
	float: left;
	margin-right: 15px;
	padding: 0;
}

ul#chirplist li.username {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}

ul#chirplist li.chirp {
	font-size: 24px;
	margin-bottom: 5px;
	margin-left: 90px;
}

ul#chirplist li.date {
	font-size: 15px;
	margin-left: 90px;
}

div.clear {
 clear:both;
}
