/*---------------------------- 
	Body width and centering
	Base font and font size
----------------------------*/

body {
	width: 884px;
	margin: auto;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	background-color: #3B8686;
}

#wrapper {
	background-color: #ffffff;
	padding: 30px;
}

#header {
	border-bottom: #bbb 1px solid;
}

h1 {
	font-size: 86px;
	margin: 0;
}

h2 {
	font-size: 44px;
	margin: 10px 0;
}

h1, h2 {
	color: #3B8686;
}

h1, h2, h3, h4 {
	font-family: 'Permanent Marker', cursive;
	font-weight:normal;
	line-height: 1.3em;
}

h3 {
	font-size: 26px;
	margin: 0 0 5px 0;
}

h4 {
	font-size: 19px;
	margin: 0 0 5px 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 10px 0;
}

li.meal {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: #bbb 1px solid;
}

li.meal div.images {
	float:left;
}

img.cover {
	padding: 0 20px 0 0;
	display:block;
}

img.thumb {
	padding: 10px 10px 0 0;
	float: left;
}

img.last {
	padding-right: 0;
}

.meal div.info {
	margin-left: 422px;
}

div.info p {
	margin: 10px 0;
}

p.user {
	font-weight: bold;
	font-size: 14px;
	color: #3B8686;
}

span.date {
	font-weight: normal;
}

li.buttons {
	font-size:12px;
}

a.button {
	padding: 2px 6px;
	color: white;
	font-size: 11px;
	font-weight: bold;
	background-color: #3B8686;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-decoration:none;
}

a.button:hover {
	background-color: #bbb;

}

.count {
 font-size: 12px;
}

div.buttons {
	margin-bottom: 20px;
}

div.comments {
	margin-left: 20px;
	padding: 10px 20px 20px;
	background-color: #eee;
}

div.comments ul {
	margin-top: 0;
}

li.comment {
	padding: 10px 0;
	font-size: 13px;
	border-bottom: #bbb 1px solid;
}

img.avatar {
	float: left;
	padding: 0 8px 2px 0;
}

li.comment span.comment-user {
	font-weight: bold;
	color: #3B8686;
}

li.comment span.comment-text {
	font-style: italic;
}

li.comment span.comment-date {
	font-size: 11px;
}

ul.other-dishes {
	clear: both;
	padding: 0;
	margin: 0;
}

ul.other-dishes p {
	margin: 10px 0;
}

ul.other-dishes li{
	float: left;
	width: 400px;
/* 	border: 1px solid black;
 */	margin: 20px 20px 0 0;
}

ul.other-dishes li.right {
	margin-right: 0;
}

img.other {
	float: left;
	margin-right: 16px;
	padding: 0;
}

div.other-info {
	margin-left: 208px;
}

div.other-info p {
	margin: 0 0 4px 0;;
}

ul.other-dishes li.clear, div.clear {
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
	float: none;
}